@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap");

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#5c5a56, #000000);
}

.nav {
  display: flex;
  gap: 3em;
  margin-top: 20px;
  margin-right: 50px;
}

.nav-text {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.nav-text:hover {
  background-color: #ffffff;
  color: #000000;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(images/background.png);
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 52px;
}

.four-reasons {
  font-size: 24px;
  margin-top: 0;
}

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reasons {
  display: flex;
  flex-wrap: wrap;
}

.reason-1 {
  display: flex;
  margin-top: 50px;
}

.img-1 {
  margin-left: 100px;
}

.reason-text {
  font-size: 24px;
  margin-top: 0;
}

.text-container {
  margin-left: 50px;
  margin-right: 150px;
  font-family: "Montserrat", sans-serif;
}

.reason-h2 {
  font-size: 36px;
}

.h2-container {
  display: flex;
}

span {
  background-color: #dbcf48;
  font-size: 70px;
  color: #000000;
  padding: 10px;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  margin: 40px;
  padding: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: linear-gradient(#000000, #5c5a56);
}

.footer-icon {
  width: 60px;
  margin: 20px;
}

.footer-text {
  font-size: 32px;
  color: #ffa500;
  font-family: "Montserrat", sans-serif;
  margin-left: 50px;
}

@media all and (max-width: 1024px) {
  .header {
    flex-direction: column;
  }

  .nav {
    justify-content: space-evenly;
  }

  .logo {
    width: 300px;
    height: 300px;
    margin-top: 50px;
  }

  .reason-img {
    width: 300px;
    margin-left: -50px;
  }

  .reason-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

@media all and (max-width: 500px) {
  h1 {
    font-size: 32px;
  }

  .text-logo {
    width: 250px;
  }

  .reason-img {
    width: 150px;
  }

  span {
    margin-left: 0px;
    margin-right: 10px;
  }

  .reason-h2 {
    font-size: 24px;
  }

  .img-1 {
    margin-left: 0px;
  }

  .text-container {
    margin-right: 10px;
    margin-left: 10px;
  }

  .main {
    background-image: none;
    background-color: #424242;
  }
}
