body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#5c5a56, #000000);
}

.nav {
  display: flex;
  gap: 3em;
  margin-top: 20px;
  margin-right: 50px;
}

.nav-text {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.nav-text:hover {
  background-color: #ffffff;
  color: #000000;
}

.heading {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  color: #ffffff;
}

.page {
  background-image: url(images/background.png);
  background-size: cover;
  background-attachment: fixed;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.img {
  border-radius: 50px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-text {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  margin-top: 0;
}

.h2-text {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 48px;
  margin-top: 50px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 0;
  padding-bottom: 30px;
}

.contacts {
  text-decoration: none;
  color: #000000;
}

.contacts:hover {
  background-color: #000000;
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: linear-gradient(#000000, #5c5a56);
}

.footer-icon {
  width: 60px;
  margin: 20px;
}

.footer-text {
  font-size: 32px;
  color: #ffa500;
  font-family: "Montserrat", sans-serif;
  margin-left: 50px;
}

@media all and (max-width: 1024px) {
  .header {
    flex-direction: column;
  }

  .nav {
    justify-content: space-evenly;
  }

  .logo {
    width: 300px;
    height: 300px;
    margin-top: 50px;
  }
}

@media all and (max-width:500px) {
  .img {
    width: 80%;
  }

  .h2-text {
    font-size: 32px;
  }

  ul {
    align-items: flex-start;
  }

  .page {
    background-image: none;
    background-color: #424242;
  }
}
