body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#5c5a56, #000000);
}

.nav {
  display: flex;
  gap: 3em;
  margin-top: 20px;
  margin-right: 50px;
}

.nav-text {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.nav-text:hover {
  background-color: #ffffff;
  color: #000000;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(images/background.png);
  background-size: cover;
  background-attachment: fixed;
}

.h1-container {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: #ffffff;
}

.studio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
  margin-top: 150px;
}

.container {
  display: flex;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin-left: 30px;
  width: 90%;
}

.name {
  font-size: 32px;
}

.studio-text {
  margin-top: 0;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  padding: 20px;
  border-radius: 40px;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
}

iframe {
  margin-top: 20px;
  margin-bottom: 50px;
  width: 500px;
}

.heading {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  width: 100%;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: linear-gradient(#000000, #5c5a56);
}

.footer-icon {
  width: 60px;
  margin: 20px;
}

.footer-text {
  font-size: 32px;
  color: #ffa500;
  font-family: "Montserrat", sans-serif;
  margin-left: 50px;
}

@media all and (max-width:1024px) {
  .header {
    flex-direction: column;
  }

  .nav {
    justify-content: space-evenly;
  }

  .logo {
    width: 300px;
    height: 300px;
    margin-top: 50px;
  }
}

@media all and (max-width: 500px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    margin-bottom: 20px;
    width: 300px;
  }

  .nav {
    font-size: 14px;
  }

  .text-logo {
    width: 250px;
  }

  .studio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-top: 0;
  }
  .main {
    background-image: none;
    background-color: #424242;
  }
}